    <nav class="gyms-nav">
        <ul>
            <li class=”current”><%= link_to 'トップ', gym_path(@gym) %></li>
            <li><%= link_to '写真', gym_item_images_path(@gym) %></li>
            <li><%= link_to '口コミ', gym_path(@gym) %></li>
            <li><%= link_to 'アクセス', gym_path(@gym) %></li>
        </ul>
    </nav>